@page "/"
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<div class="container p-5 " style=" text-align:center ;background-color: rgb(225, 215, 198); margin-top: 15px;">
    <h1 style="font-size: 50px;">Find Your Recipe</h1>

    <style>
        .select2-selection {
            height: 80px;
            font-size: 25px;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice__display {
            padding-left: 10px;
        }

        .select2-container .select2-search--inline textarea.select2-search__field {
            height: 40px;
            text-align: center;
            margin-top: 17px;
        }
    </style>
</div>
<div class="container" style="margin-top: 120px;">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1 style="font-size: 20px;margin-bottom: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;Choose the ingredients you want to use in the recipe: </h1>
            <select id="SearchBar" name="states[]" class="form-control" multiple="multiple">
                <option value="1">Apple</option>
                <option value="2">Pasta</option>
            </select>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2  d-grid">
            <button type="button" class="btn btn-outline-dark" @onclick="SearchClick">Search</button>
        </div>
        <div class="col-sm-5"></div>
    </div>
</div>
@code{ protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await JS.InvokeVoidAsync("InitializeSearchBar");
    }

    public async Task<List<int>> GetIds()
    {
        return await JS.InvokeAsync<List<int>>("GetSearchBarValues");

    }
    public async Task SearchClick()
    {
        var ids= await GetIds();
        foreach(var id in ids)
        {
            Console.WriteLine(id);
        }
    }
}