@page "/my-profile"
<div class="container" style="margin-top:250px">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm" style="background-color: rgb(225, 215, 198)">
                    <h1 style="text-align:center ;margin-top:15px">Page under construction</h1>
                    <h2 style="text-align:center;margin-top:5px">We are mixing the ingredients</h2>
                    
                        <video autoplay style="margin-left:115px">
                            <source src="video.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    
                </div>
            </div>

        </div>
        <div class="col-sm-2"></div>
    </div>
</div>


@code {



}


