@page "/my-profile"
@inject IUserService UserService
@inject ILocalStorageService LocalStorage


<AuthorizeView>
    <Authorized>
        <div class="container p-5 " style=" text-align:center ;background-color: rgb(225, 215, 198); margin-top: 15px;">
            <h1 style="font-size: 50px;">My Profile</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-4" style="background-color: rgb(87, 155, 177) ">
                            <h3>My Profile details</h3>


                        </div>
                        <div class="col-sm-8" style="background-color: rgb(225, 215, 198)">
                            <h3>Favorite recipes</h3>


                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="container p-5 " style=" text-align:center ;background-color: rgb(225, 215, 198); margin-top: 15px;">
            <h1 style="font-size: 50px;">My Profile</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="col-sm-4" style="background-color: rgb(87, 155, 177) ">
                        <h3>My Profile details</h3>


                    </div>
                    <div class="col-sm-8" style="background-color: rgb(225, 215, 198)">
                        <h3 style="text-align:center; margin-top:30px">You are not logged into your account</h3>
                        <div class=" btn-group , center" >
                            <a href="/Login" class="btn" style="background-color: rgb(87, 155, 177)" role="button">
                                Go to Login
                            </a>
                        </div>


                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {

    UserResponseModel user;
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        user = await LocalStorage.GetItemAsync<UserResponseModel>("user");
        //user = await UserService.GetByIdAsync(userId);

    }
}

